*,*::before, *::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0%;
    line-height: 1.6;
    font-family:'Times New Roman', Times, serif;
}
#banner{
    min-height: 50vh;
    background: url(../img/BROCHURE\ DE\ MI\ REGIÓN.png) no-repeat center center fixed;
    background-size: cover;
}
.contenedor{
    position: absolute;
    top: 64%;
    left: 49.7%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}
#banner h2{
    text-align: center;
    width: 236px;
    font-size: 26px;
    
}
#banner a{
    margin-bottom: 80px;
    text-decoration: none;
    color: white;
}
#banner .linea1{
    width: 120px;
}
#banner .linea2{
    width: 190px;
    margin-bottom: 38px;
}

#banner .btn{
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 13px;
    position: relative;
    display: block;
    height: 40px;
    width: 220px;
    border-radius: 7px;
    text-transform:capitalize;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #6ddbad;
    z-index: 0;

}



    